@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'variables.less';
@import 'mixins.less';

html, *
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body
{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;

  /** Container styles **/
  .container
  {
    .clearfix();
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  #home-banner
  {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    max-width: 1200px;
    height: 455px;
    background-image: url("@{img-path}/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px 60px 60px 60px;
    font-family: "Montserrat", sans-serif;
    color: white;

    #banner-header
    {
      font-size: 30pt;
      text-transform: uppercase;
      font-weight: 700;
      width: 380px;
      border: 3px solid white;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 0;
      letter-spacing: 3px;
    }

    p
    {
      font-style: italic;
      font-size: 11pt;
      padding-top: 10px;
    }
  }

  #main-header
  {
    .clearfix();
    padding-bottom: 10px;
    padding-top: 10px;

    #home-link
    {
      display: block;
      float: left;
      height: 54px;
      width: 54px;
      text-indent: -9999px;
      background: url("@{img-path}/header-logo.png") no-repeat top left;
    }

    #nav-toggle
    {
      display: none;
    }

    #header-nav
    {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 10pt;
      float: right;
      line-height: 26px;

      li
      {
        display: inline;
        margin-left: 10px;

        a
        {
          color: #303030;
          text-decoration: none;
        }
      }
    }
  }

  #main-content
  {
    padding-bottom: 20px;
  }

  #footer
  {
    color: #959595;
    font-size: 8pt;

    a
    {
      text-decoration: none;
      color: white;
    }

    .right
    {
      float: right;
    }

    .column
    {
      width: 33.3%;
      float: left;
      padding-right: 5px;

      .list-unstyled
      {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      h3
      {
        text-transform: uppercase;
        font-size: inherit;
        color: white;
        letter-spacing: 1px;
      }

      #recent-posts-list
      {
        li
        {
          padding: 2px 0;
        }
      }

      #social-links-list
      {
        li
        {
          width: 22px;
          height: 22px;
          display: inline-block;
          background-color: #959595;
          text-align: center;
          line-height: 22px;
          font-weight: 700;
          border-radius: 50%;
          margin-right: 10px;
          color: #323232;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;

          &.bg-white
          {
            background-color: white;
          }

          &:last-child
          {
            margin-right: 0px;
          }

          .text-hidden
          {
            display: none;
          }
        }
      }
    }

    #footer-top
    {
      background-color: #323232;
      padding-bottom: 10px;
    }

    #footer-bottom
    {
      background-color: #2a2a2a;
      padding: 10px 0;

      #footer-copyright
      {
        span
        {
          text-transform: uppercase;
        }
      }

      #footer-nav-links
      {
        padding: 0;
        margin: 0;

        li
        {
          display: inline;
          margin-right: 10px;

          &:last-child
          {
            margin-right: 0;
          }

          a
          {
            font-weight: 700;
            color: #959595;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

#blog-posts-wrapper
{
  .blog-post
  {
    .clearfix();
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #e1e1e1;

    &:first-child
    {
      padding-top: 0px;
    }

    &:last-child
    {
      border-bottom: none;
    }

    .left
    {
      float: left;
    }

    .media-container
    {
      width: 30%;
      padding-right: 20px;

      img
      {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .post-content-wrapper
    {
      width: 70%;

      .post-info
      {
        font-family: "Montserrat", sans-serif;
        font-size: 8pt;
        font-weight: 700;
        text-transform: uppercase;
        color: #b7b7b7;

        .author
        {
          color: #ee4056;
        }
      }

      .post-title
      {
        margin: 5px 0 10px 0;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14pt;
        letter-spacing: 2px;
        color: #363636;
      }

      .post-content
      {
        font-size: 11pt;
        padding-bottom: 20px;
      }

      .read-more-link
      {
        color: #ee4056;
        text-decoration: none;
        font-size: 11pt;
      }
    }
  }
}

#show-more-link
{
  display: block;
  text-align: center;
  background-color: #ededed;
  padding: 15px;
  text-decoration: none;
  color: #898989;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11pt;
}

/** Table styles **/
.table
{
  width: 100%;
  border-collapse: collapse;
  border:1px solid #000000;
  padding: 0px;
  margin: 0px;

  td, th
  {
    border: 1px solid #ccc;
    padding: 5px;
  }
}

/** Form styles **/
fieldset
{
  border: none;
  padding: 0;
  margin: 0;
}

label
{
  display: block;
  font-weight: 700;
}

input.form-control, textarea.form-control
{
  width: 100%;
}

textarea.form-control
{
  min-height: 120px;
}

.form-control
{
  padding: 5px;
  height: 35px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
}