@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'variables.less';
@import 'mixins.less';

body
{
  .left, .right
  {
    float: none !important;
    width: 100% !important;
  }

  #home-banner
  {
    #banner-header
    {
      font-size: 18pt;
      width: 100%;
    }
  }

  #main-header
  {
    #home-link
    {
      margin-left: 5px;
      margin-bottom: 10px;
    }

    #header-nav
    {
      float: none;
    }

    #nav-toggle
    {
      float: right;
      display: block;
      height: 28px;
      width: 34px;
      background: url("@{img-path}/mobile-menu.png") no-repeat top left white;
      text-indent: -9999px;
      margin-right: 5px;
      margin-top: 13px;
    }

    #header-nav
    {
      display: none;
      background: #303030;
      padding: 0;
      clear: both;

      li
      {
        display: block;
        margin: 0;
        padding: 5px 0 5px 5px;
        border-bottom: 1px solid #555555;

        a
        {
          color: white;
        }
      }
    }
  }

  #footer
  {
    .container
    {
      padding: 5px;

      .column
      {
        float: none;
        width: 100%;
        padding: 10px 0;
      }
    }

    #footer-bottom
    {
      #footer-nav-links
      {
        margin-top: 10px;

        li
        {
          display: block;
          padding: 5px 0;
        }
      }
    }
  }
}

#blog-posts-wrapper
{
  padding: 5px;

  .blog-post
  {
    width: 100%;

    .left
    {
      float: none;
    }

    .media-container
    {
      width: 100%;
      height: auto;
      padding: 0;
    }

    .post-content-wrapper
    {
      width: 100%;
    }
  }
}